.to-do-item__menu:hover {
    cursor: pointer;
}

.to-do-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: unset !important;
}

div .ui .segment .to-do-item__popup {
    position: absolute;
    right: 0;
    text-align: center;
}

.hidden {
    display: none;
}

.show {
    display: block;
}