.to-do-item__menu:hover {
  cursor: pointer;
}

.to-do-item {
  display: flex !important;
  justify-content: space-between;
  align-items: baseline;
  position: unset !important;
}

div .ui .segment .to-do-item__popup {
  position: absolute;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.to-do-item__btn {
  margin: 3px 0 !important;
}
